<div class="todos">
  <div class="row todos-row no-margin">
    <div class="col-auto align-self-center no-padding todos-row-th">
      <div class="btn-mark-all"
           [class.checked]="!this.numberOfTodosLeft()"
           [class.hidden]="!(allTodos$ | async).length"
           (click)="toggleCompletedAll()"
      >
        <i class="fa fa-chevron-down"></i>
      </div>
    </div>
    <div class="col no-padding">
      <input
        type="text"
        class="todo-input"
        [(ngModel)]="newTodoInput"
        [placeholder]="inputPlaceholder"
        (keyup)="$event.keyCode === 13 && create()">
    </div>
  </div>
  <div class="row todos-row no-margin" *ngFor="let todo of todosToShow$ | async">
    <todo-item [todo]="todo" (remove)="removeTodo(todo)" (toggleComplete)="toggleCompleteTodo(todo)"></todo-item>
  </div>
  <div class="row todos-row no-margin" *ngIf="(allTodos$ | async).length">
    <div class="col-3 items-left">
      {{ numberOfTodosLeft() }} items left
    </div>
    <div class="col-6 text-center">
      <button class="btn-filter" (click)="showAll()">All</button>
      <button class="btn-filter" (click)="showActive()">Active</button>
      <button class="btn-filter" (click)="showCompleted()">Completed</button>
    </div>
  </div>
</div>
