.todos {
  background: #fff;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);

  &-row {
    border-bottom: 1px #eee solid;
    padding: 10px 5px;

    &:last-child { border-bottom: none; }
  }
}

todo-item {
  display: block;
  width: 100%;
}

:host /deep/ {
  .todos-row-th {
    padding-right: 10px;
  }
}

.btn-mark-all {
  padding: 0 8px;
  color: #e6e6e6;

  &.checked { color: #4d4d4d; }
  &.hidden { opacity: 0; }
}

.btn-filter {
  outline-width: 0;
  padding: 3px 7px;
  border: 1px transparent solid;
  border-radius: 3px;
  background: transparent;
  color: inherit;
  cursor: pointer;

  &:hover { border-color: rgba(175, 47, 47, 0.2); }
  &.active { border-color: rgba(175, 47, 47, 1); }
}

.items-left {
  padding: 0 10px;
}
