.checkbox-completed {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  margin-bottom: -5px;

  &::after {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: -8px;
    margin-top: -5px;
  }

  &::after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
  }

  &:checked::after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
  }
}

.completed {
  .input-edit:not(:focus) {
    text-decoration: line-through;
    color: #e6e6e6;
  }
}

.remove { padding: 0 10px; }

.btn-remove {
  cursor: pointer;
  color: #cc9a9a;
  font-size: 16px;
}

.item:not(:hover) .btn-remove { opacity: 0; }
